/* 重置一些基本的樣式 */
body, html {
    margin: 0;
    padding: 0;
}

/* 設定頁面的寬度和背景顏色 */
body {
    width: 100%;
    background-color: #f2f2f2;
}

/* 設定標題欄的樣式 */
header {
    background-color: #ffffff;
    height: 50px;
}
.up-group {
    width: 50px auto;
    display: flex;
    justify-content: space-between;
}
.item {
    width: 50px auto;
    display: flex;
    justify-content: space-between;
}
.div2{
    flex: 1;
    font-size: 210%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #170909; 
    background-color: rgb(236, 167, 76);
}
.div3{
    flex: 1;
    font-size: 210%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #170909; 
    cursor: pointer;  
}
.main-group{
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(255, 255, 255);
}
.items{
    max-height: 12cm;
    padding: 5%;
    overflow: auto;
    border-bottom: 2px solid #c4c1c1;
}
.div5{
    flex: 3;
    font-size: 210%;    
}
.div6{
    flex: 2;
    font-size: 210%;    
}
.button-group {
    width: 20%;
    margin-top: 1%;
    margin-left: 75%;
    margin-bottom: 2%;
    background-color: #333;
    color: #fff;
    padding: 10px 10px;
    font-size: 160%;
    border-radius: 10px;
    cursor: pointer;
}
.button-delete{
    flex:1;
    background-color: #ffffff;
    color: #e22222;
    padding: 5px 5px;
    font-size: 130%;
    border-radius: 10px;
    border: 2px solid #e22222;
    cursor: pointer;
}
 