/* 重置一些基本的樣式 */
body, html {
    margin: 0;
    padding: 0;
}

/* 設定頁面的寬度和背景顏色 */
body {
  width: 100%;
  background-color: #f2f2f2;
}
/* 設定登入表單的樣式 */
.div2 {
  background-color: #fff;
  width: 600px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
  border-radius: 20px;
}

.div2 h1 {
  text-align: center;
  color: #333;
  font-size: 200%;
}

.div2 input[type="text"]{
  width: 60%;
  padding: 20px;
  margin-bottom: 30px;
  border: 2px solid #170909; 
  border-radius: 10px;
  font-size: 160%;
}

.div2 input[type="button"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  width: 20%;
  margin-left: 72%;
  font-size: 160%;
  border-radius: 10px;
  cursor: pointer;
}
.div2 label{
  font-size: 180%;
  padding: 30px;
}